*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn{
    background-color: rgb(7, 176, 24);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    width: 50px;
    margin-top: 20px;
}


.dark-mode{
    .btn{
        background-color: red;
    }

    body{
        background-color: black;
    }
}